#AddUser--container {
    width: 80%;
    max-width: 1100px;
    margin: 10px auto;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AddUser--form {
    display: flex;
    flex-direction: column;
    padding: 10px 0; 
}
.AddUser--form input {
    width: 60%;
    min-width: 400px;
    height: 35px;
    margin-bottom:5px;
    border:solid 1px rgb(224, 224, 224);
    padding:5px 15px;
}
.AddUser--form-input_submit {
    background: #f79521; 
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    border: none;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
    color: floralwhite;
}
.AddUser--form-input_submit:hover{
    background: #d68119; 
}
.AddUser--span {
    background: #b0d3f6;
    padding: 10px 15px;
    border-left: solid 5px #3790ef;
}