div#CreateList {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
h1.CreateList-h1 {
    padding: 10px 15px 10px 25px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    background: #e5e7f3;
    width: fit-content;
    border-left: solid 5px #a9a9f8;
    color: #001188;
}
span.CreateList-span {
    text-align: center;
    margin: 30px auto 10px;
    font-size: 1.5em;
    color: gray;
}
a.CreateList-link {
    text-decoration: none;
    color: #002f00;
    border: solid 2px #b1d8b1;
    padding: 0 15px;
    background: #e3fde3;
    border-radius: 5px;
}
a.CreateList-link:hover {
    box-shadow: 1px 1px 5px grey;
    background: #f4c1c1;
    color: white;
    border: solid 2px #d57878;
}