body{
  background: rgb(243, 243, 243);
}
header.List-header {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.List-header_h3 {
  font-size: 1em;
  margin-right: 20px;
  border-left: solid 7px #1e74ca;
  line-height: 50px;
  padding-left: 5px;
}

.List-box-list_ul{
  margin:0;
  padding:0;
}
.List-box-list_li{
  list-style: none;
  padding:10px;
}
div#List-box_list {
  width: 80%;
  max-width: 1100px;
  margin: 10px auto;
  background: white;
  padding: 0;
}
 
.List-box-list_table{
  border-collapse: collapse;
  width: 100%;
}
.List-box-list_table tr, .List-box-list_table td{
  border: solid 1px rgb(221, 221, 221);
padding: 3px;
font-size: 0.9em;
font-weight: 100;
text-align: center;
}

td.List-box-list_action button {
  border: none;
  padding: 5px 30px;
  margin: 3px 10px 3px 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
button.List-box-list_action-edit {
  background: #96dfa2;
}
button.List-box-list_action-delete {
  background: #f29595;
}
button.List-box-list_action-edit:hover {
  background: #47a358;
}
button.List-box-list_action-delete:hover {
  background: #cc3f3f;
}
