.addMoreItems {
    display: flex;
    justify-content: center;
    padding: 0 0 15px;
}
.addMoreItems button {
    transition: all 0.2s;
    background: #f85e12;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.addMoreItems button:hover {
    background: #ce4e0f; 
}
.addMoreItems button a{
    text-decoration: none;
    color:white;
}