div#Rampmap--wrapper {
    width: 100%;
    display: flex; 
    
}
.Rampmap_sidebar {
    width: 20%;
    background: #41464e;
    min-width: 300px;
}
.Rampmap--map{
    width: 80%;
    overflow: hidden;
}
.Rampmap_sidebar_inner {
    width: 90%;
    margin: 10% auto;
}
.Rampmap_sidebar_inner__wrapperTitle {
    display: flex;
    justify-content: flex-start;
}
.Rampmap_sidebar_inner__wrapperTitle img {
    width: 50px;
    margin-right: 10px;
}
.Rampmap_sidebar_inner__wrapperTitle p {
    color: #d0d0d0;
    font-size: 20px;
}
.Rampmap_sidebar_inner__wrapperMaterial_resume {
    background: #535353;
    color: #c8c8c8;
    padding: 10px;
    box-sizing: border-box;
}
.Rampmap_sidebar_inner__wrapperMaterial_resume p { 
    border-bottom: solid 1px gray;
}


button#Rampmap_sidebar_inner--button-filter {
    margin: 10px 0;
    border: none;
    background: #b5e3b5;
    color: black;
    line-height: 30px;
    display: block;
    width: 60%;
    border-radius: 3px;
    /* letter-spacing: 1.2px; */
    font-family: tahoma, arial;
    font-size: 15px;
    font-weight: 600;
}

div#filterZoom {
    color: #b5e3b5;
}
div#filterZoom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
ul.Rampmap_sidebar_inner--wrapper-ul {
    padding: 0;
    overflow: auto;
    max-height: 230px;
} 
span.Rampmap_sidebar_inner--name {
    border-bottom: groove 1px #bcbcbc;
    padding-bottom: 8px;
    padding-left: 25px;
    margin-top: 10px;
}
ul.Rampmap_sidebar_inner--inner-ul {
    margin-bottom: 10px;
    border-bottom: groove 1px #bcbcbc;
    padding-bottom: 8px;
    padding-left: 10px;
}
ul.Rampmap_sidebar_inner--inner-ul li{
    list-style: none;
}
ul.Rampmap_sidebar_inner--inner-ul:nth-child(even) {
    background: #575757;
}
@media all and (max-width:1300px){
    .Rampmap_sidebar {
    width: 30%;
    min-width:350px;
}
.Rampmap--map{
    width:70%;
}
}