body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.List-header_img {
  width: 200px;
}
div#List--wrapperButtonHidde {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
div#List--wrapperButtonHidde button {
  width: 10%;
  max-width: 30px;
  transform: rotate(270deg);
  border:none;
  background: transparent;
}
div#List--wrapperButtonHidde button img {
  width: 100%; 
}
div#List--wrapperButtonHidde button img:hover {
  cursor: pointer;
}
.hiddeHeader{
  overflow: hidden;
}


 
  .List--header__nav ul li {
  list-style: none;
  display: flex;
  }
   
  .List--header__nav ul li img {
  width: 50px;
  }
  .List--header__nav a {
  display: block;
  width: 90px;
  font-size: 15px;
  text-decoration: none;
  color: #3a3aa5;
  font-weight: 800;
  margin-left: 5px;
  }
  .List--header__nav ul {  
  padding: 5px;
  width: 130px;
  border: transparent;
  background: #ebebeb;
  border-radius: 5px;
  }
   .List--header__nav ul:hover{
     box-shadow: 1px 1px 7px rgb(59, 59, 59);
   }